@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:ital@1&family=Poppins:wght@100;300;400;500;600&family=Source+Sans+Pro&display=swap');

* {
    font-family: "Jost", sans-serif;
    ;
    /* font-family: "https://fonts.gstatic.com/s/oregano/v13/If2IXTPxciS3H4S2oZDVPhvNzyI.woff2"; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0e0e0e;

}

body {
    font-family: var(--tp-ff-body);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--tp-text-body);
    line-height: 26px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

:root {
    --main-color: rgba(255, 255, 255, 0.4);
    --black-color: #0e0e0e;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

.little_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0e0e;
    height: 3.1rem;


}

.little_bar_title_description {
    color: rgb(191, 186, 186);
    font-size: 1.3rem;
}

.little_bar_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.little_bar_title i {
    margin-right: 1rem;
}

.little_bar_title .title_logo {
    color: gold;
    font-size: 1.8rem;
}

.little_bar_setting {
    display: flex;
    align-items: center;
    gap: 1.4rem;

}

.little_bar_setting button {
    display: flex;
    gap: 1.5rem;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right-color: white;
    background-color: black;
    color: white;
    cursor: pointer;
}

.little_bar_setting i {
    margin-right: 1rem;
}

.search_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 3.3rem;
}

.search_area_input {
    display: flex;
    border: 2.2px solid #0989ff;
    margin-right: 2rem;

}

.search_area_item {
    display: flex;
}



.search_area_input input {
    width: 32rem;
    height: 5rem;
    border: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    outline: none;



}

.search_area_input input:focus::placeholder {
    color: transparent;
}

.search_area_item .user {
    font-size: 3.3rem;
    color: rgb(191, 186, 186);
}

.search_area_item .sign_in {
    margin-right: 4rem;
    align-items: center;
    display: flex;
    line-height: 1.3;
}

.search_area_basket {
    font-size: 2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;

}

.search_area_basket i {
    font-size: 1.8rem;
    cursor: pointer;
}

.search_area_basket i:hover {
    color: #0989ff;
    transition: 0.5s;
}

.search_area_basket_arrow:hover {
    color: #0989ff;
    transition: 0.5s;
}

.search_area_item .sign_in span {
    color: rgb(104, 102, 102);
    font-weight: bold;
}

.search_area_item .sign_in a {
    margin-left: 1rem;
    color: rgb(191, 186, 186);

}

.search_area_input_item .selected_button {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 1.3rem;
    font-weight: 540;
}

/* .search_area_input_item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 48%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: rgba(1, 15, 28, .3);
} */

.search_area_input_item .search_button {
    height: 5rem;
    width: 5rem;
    background-color: #0989ff;
    cursor: pointer;
    border: none;
}

.search_area_input .search_button i {
    color: white;
    font-size: 2rem;
}

.navbar {
    margin-top: 3.5rem;
    width: 100%;
    border: 1px solid rgb(206, 191, 191);
    height: 4.5rem;
}

.navbar_item {
    display: flex;
    justify-content: space-between;
}

.navbar_item_list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;
    font-weight: bold;
}

.navbar_item_list li {
    cursor: pointer;
    margin-top: 1rem;
}

.contact_item {
    display: flex;
    align-items: center;
}

.contact_item i {
    color: #0989ff;
    font-size: 2rem;
    margin-right: 1rem;

}

.departments {
    border: none;
}

.departments_button {
    border: none;
    font-size: 1.6rem;
    height: 4.4rem;
    width: 25rem;
    background-color: #0989ff;
    color: white;
    cursor: pointer;
}

.departments_button:hover {
    background-color: black;
}

.departments_button .departments_icon {
    margin-left: 7rem;
}

.contact_item_description {
    line-height: 1.3;
    cursor: pointer;
}

.contact_item_description:hover {
    color: #0989ff;
    transition: 0.5s;
}

.contact_item_description_paragraph {
    color: rgb(99, 97, 97);

}





.slide_section {
    background-color: rgb(18, 76, 85);
    width: 100%;
    height: 500px;
    position: relative;
}

.slide_watch {
    position: absolute;
    bottom: 5rem;
    right: 18rem;
}

.slide_effect {
    position: absolute;
    bottom: 42rem;
}

.slide_section_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide_section_description {
    width: 60rem;
    margin-top: 9rem;
}

.slide_leaf {
    float: right;

}



.slide_section_description h4 {
    font-size: 1.5rem;
    color: white;
}

.slide_section_description h1 {
    color: white;
    font-size: 6rem;
    line-height: 1.2;
}

.slide_section_description h3 {
    font-size: 2rem;
    color: white;
}

.slide_section_description span {
    color: gold;
}

.slide_section_description button {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    width: 15rem;
    margin-top: 3rem;
    cursor: pointer;
}

.slide_section_description button:hover {
    background-color: rgb(18, 76, 85);
    color: white;
    transition: 0.5s;
}

.slide_section_description2 button {
    cursor: pointer;
}

.slide_section_description2 button:hover {
    background-color: rgb(18, 76, 85);
    color: white;
    transition: 0.5s;
}

.slide_section_description3 button {
    cursor: pointer;
}

.slide_section_description3 button:hover {
    background-color: rgb(18, 76, 85);
    color: white;
    transition: 0.5s;
}






.slide_section2 {
    background-color: rgb(18, 76, 85);
    width: 100%;
    height: 500px;
    position: relative;
}

.slide_notebook {
    position: absolute;
    bottom: 10rem;
    right: 4rem;
    top: 6rem;
}

.slide_effect2 {
    position: absolute;
    top: 5rem;
    right: 50rem;
}

.slide_section_items2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide_section_description2 {
    margin-top: 10rem;
    width: 60rem;
}

.slide_leaf2 {
    float: right;
}


.slide_section_description2 h4 {
    font-size: 1.5rem;
    color: white;
}

.slide_section_description2 h1 {
    color: white;
    font-size: 5.7rem;
    line-height: 1.2;
}

.slide_section_description2 h3 {
    font-size: 2rem;
    color: white;
}

.slide_section_description2 span {
    color: gold;
}

.slide_section_description2 button {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    width: 15rem;
    margin-top: 3rem;
}

.slide_section_photo2 {
    width: 12rem;
}






.slide_section3 {
    background-color: rgb(227, 237, 246);
    width: 100%;
    height: 500px;
    position: relative;
}

.slide_tablet {
    position: absolute;
    bottom: 7rem;
    right: 20rem;
    top: 3rem;
}

.slide_effect3 {
    position: absolute;
    bottom: 41rem;
}

.slide_section_items3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide_section_description3 {
    width: 60rem;
    margin-top: 9rem;
}

.slide_leaf3 {
    float: right;

}



.slide_section_description3 h4 {
    font-size: 1.5rem;

}

.slide_section_description3 h1 {

    font-size: 6rem;
    line-height: 1.2;
}

.slide_section_description3 h3 {
    font-size: 2rem;

}

.slide_section_description3 span {
    color: red;
}

.slide_section_description3 button {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    background-color: white;
    width: 15rem;
    margin-top: 3rem;

}

.popular_item .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 5rem;
    gap: 3rem;
}

.circle_card {
    border-radius: 50%;
    background-color: #bde1ff;
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.circle_card .popular_item_description {
    margin-left: 1rem;
}

.popular_item_description p {
    align-items: center;
}

.popular_item_description_tablets {
    margin-top: 5rem;
}

.popular_item_description_bluetooth {
    margin-top: 3rem;
    margin-right: 2rem;
}

.popular_item_description_cpu {
    margin-top: 7rem;
    margin-left: 3rem;
    width: 16rem;
}

.popular_item_description_headphones {
    margin-top: 6rem;
}

.popular_item_description_watch {
    margin-top: 7rem;
}

.popular_item_description:hover {
    color: #0989ff;
    transition: 0.5s;
}

.circle_card:hover img {
    transform: scale(1.3);
    transition: 0.9s ease-in-out;
}

.mobiletablets img {
    margin-top: 4rem;
}

.bluetooth img {
    margin-top: 2.8rem;
}

.cpu img {
    margin-top: 5rem;
}

.headphones img {
    margin-top: 4rem;
}

.smartwatch img {
    margin-top: 5rem;
}

.support_section {
    margin-top: 5rem;
}

.support .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 13rem;
}

.support_delivery_item {
    display: flex;
    align-items: center;
    padding: 3rem;
    width: 29rem;
    height: 10rem;
    background-color: #f6f7f9;

}

.support_delivery_item i {
    font-size: 3rem;
    color: #fd4b6b;
    margin-right: 1.5rem;
}

.trending_product .container {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.trending_product .products_type {
    display: flex;
    gap: 3rem;

}

.trending_product .products_type button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.trending_product .products_type h2 {
    cursor: Fo;
}

.trending_product .products_title h1 {
    font-size: 3.1rem;
}

.all_products {
    margin-top: 5rem;
}

.products_icon {
    float: right;
    display: inline-block;
    font-size: 2rem;
    box-shadow: 0.8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    opacity: 0;
}

.card:hover .products_icon {
    opacity: 1;
}

.icon_shipping:hover {
    background-color: #0989ff;
    color: white;
    transform: translateY(-1);
}

.icon_eyes:hover {
    background-color: #0989ff;
    color: white;
}

.icon_heart:hover {
    background-color: #0989ff;
    color: white;
}

.products_icon div {
    border: 0.1px solid rgb(193, 185, 185);
    padding: 0.5rem;

}

.card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 48rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.card:hover img {
    transform: scale(1.1);
    transition: 0.9s ease-in-out;
}

.card img {
    width: 28rem;

}

.card {
    width: 28rem;
    cursor: pointer;
}

.card_description {
    margin-left: 3rem;
}

.price_line {
    text-decoration: line-through;
    font-size: 1.2rem;
    margin-top: 0.2rem;

}

.card_name:hover {
    color: #0989ff;
    transition: 0.5s;
}

.card_description .price {
    display: flex;
}

.card_description i {
    font-size: 1.3rem;
    /* color:rgb(99, 97, 97) ; */
}

.card_description h4:hover {
    color: #0989ff;
    transition: 0.5s;
}

.price span {
    color: #0989ff;
    font-weight: bold;
}

.card_name {
    font-size: 1.2rem;
    color: rgb(99, 97, 97);
    font-weight: 380;
}

.all_products .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.colorstar {
    color: gold;
}

.all_products_again .container {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.advertising .container {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.advertising img {
    height: 25rem;
    border-radius: 5rem;
}

.advertising_description h1 {
    font-size: 2.5rem;
    line-height: 1.4;
}

.advertising_description button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2rem;
}

.advertising {
    position: relative;
}

.advertising_description {
    position: absolute;
    width: 25rem;
    left: 22rem;
    top: 8rem;

}

.advertising_again {
    position: relative;
    overflow: hidden;

}

.advertising_again_description {
    width: 18rem;
    position: absolute;
    bottom: 8rem;
    left: 3rem;
}

.advertising_again_description button {
    border: none;
    font-weight: bold;
    background-color: #90DAFF;
    margin-top: 2rem;
    line-height: 1;
    cursor: pointer;
}

.advertising_again:hover img {
    transform: scale(1.1);
    transition: 0.9s ease-in-out;
}

.today_product {
    margin-top: 9rem;

}

.today_product .container {
    display: flex;
    justify-content: space-between;
}

.today_product h1 {
    font-size: 3.1rem;
}

.today_product button {
    border: none;
    background-color: #0989ff;
    color: white;
    padding: 1.8rem;
    border-radius: 2rem;
    cursor: pointer;
}

.today_product button:hover {
    background-color: black;
    transition: 0.3s;
}

.today_product_item .container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.today_product_item .card {
    width: 35rem;
}

.fixed_part {
    margin-top: 10rem;

}

.fixed_part .container {
    display: flex;
}

.fixed_box {
    width: 40rem;
    height: 32rem;
    border: 3px solid #ff3494;
    border-radius: 2rem;
    position: relative;
    position: sticky;
    top: 50px !important;
    left: 0;
}


.fixed_box img {
    left: 18rem;
    width: 19rem;
    position: absolute;
    bottom: 0.1rem;

}

.fixed_box ul {
    margin-left: 5rem;
    margin-top: 4rem;
    color: #55585b;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.fixed_box ul li {
    list-style: circle;
}

.fixed_box ul li:hover {
    color: #0989ff;
}

.fixed_box ul button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 3rem;
    font-weight: bold;
}

.fixed_box ul button:hover {
    color: #0989ff;
}

.box h2 {
    height: 3rem;
    margin-left: 4rem;
    margin-top: 3rem;
}

.mystyle {
    display: none;
}

.featured_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}

.topSellers_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}

.featuredblock {
    display: none;
}

.TopSellers {
    display: none;
}

.card_fixed {
    gap: 4rem;
    margin-left: 2rem;
}

.card_fixed2 .container .card {
    width: 26rem;
}

.card_fixed2 .container {
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
}

.slick_blue {
    margin-top: 10rem;
}

.slick_blue .slide_section {
    background-color: #0989ff;

}

.slick_blue .slide_section2 {
    background-color: #0989ff;
}

.slick_blue .slide_section {
    background-color: #0989ff;
}

.slick_blue button {
    cursor: pointer;
    background-color: #0e0e0e;
    color: white;
}

.slick_blue button:hover {
    background-color: white;
    color: black;
}

.new_arrivals h1 {
    font-size: 4rem;
    margin-top: 8rem;
}

.new_arrivals_item {
    margin-top: 8rem;
}

.card.slick-slide {
    width: 28rem !important;
    margin-left: 1rem;
}

.slick-next {
    right: -30px;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 5;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: gray;
    border: 1px solid grey;
    border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #0989ff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row {
    margin-top: 5rem;
}

.discount_products {
    margin-top: 9rem;

}

.discount_products_item img {
    width: 14rem;
    height: 14rem;
    border-radius: 1rem;
    background-color: rgb(228, 226, 226);

}

.discount_all_products .discount_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.discount_products_item {
    align-items: center;
}

.discount_products_item_card {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.discount_products_item h1 {
    margin-top: 2rem;

}

.discount_products_item_card h4:hover {
    color: #0989ff;
    cursor: pointer;
    transition: 0.5s;
}

.discount_products_item_card p:hover {
    color: #0989ff;
    transition: 0.5s;
    cursor: pointer;
}

.discount_products_item_card_description {
    border-bottom: 1px solid grey;
}

.discount_products_item_card:hover img {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.latest_news {
    margin-top: 10rem;
}

.latest_news .container {
    display: flex;
    justify-content: space-between;
}

.latest_news h1 {
    font-size: 3.5rem;
}

.latest_news_button button {
    cursor: pointer;
    background-color: #0989ff;
    border: none;
    color: white;
    width: 12rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.latest_news_button button:hover {
    background-color: #0e0e0e;
    transition: 0.5s;
}

.latest_news_card {
    margin-top: 5rem;
}

.latest_news_card p {
    color: rgb(114, 111, 111);
    font-weight: bold;
}

.latest_news_card h4 {
    color: rgb(107, 104, 104);
    font-weight: 200;
    margin-top: 1rem;
}

.latest_news_card button {
    cursor: pointer;
    background-color: #0989ff;
    border: none;
    color: white;
    width: 12rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.latest_news_card button:hover {
    background-color: #0e0e0e;
    transition: 0.5s;
}

.latest_news_card img {
    border-radius: 2rem;
}

.latest_news_card .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}