.background {
    width: 400px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#0989ff,
            #23a2f6);
    left: -150px;
    top: -50px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #0989ff);
    right: -90px;
    bottom: -100px;
}

form {
    height: 540px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form span {
    color: #0989ff;
}

form span:hover {
    color: #0989ff;
    border-bottom: 1px solid black;
    transition: 0.5s;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: black;
}

.login {
    margin-top: 4rem;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
}

.social {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    margin-left: 1rem;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
    color: black;
    transition: 0.5s;
}

.social div:hover i {
    color: black;
    transition: 0.5s;
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
    color: white;
}

#password {
    position: relative;
}

.eye_icon_btn {
    position: absolute;
    bottom: 20rem;
    left: 40rem;
    cursor: pointer;
    border: none;
    background-color:white;
    width: 4rem;
    align-items: center;

    
}
.eye_icon_btn i{
    font-size: 1.5rem
}
@media only screen and (max-width:992px) {
    .shape:first-child{
        left: -90px;
        top: -50px;
    }
   
}