.shop_title {
    font-size: 4rem;
    font-weight: 200;
}

.shop_section_title {
    margin-top: 15rem;
    margin-left: 3rem;
}

.little_title {
    margin-top: 2rem;
    display: flex;

}

.little_title p {
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(168, 168, 168);
}

.little_title p:hover {
    color: #0989ff;
}

.filter_section .container {
    display: flex;

    margin-top: 8rem;
}

.range-filter {
    display: flex;
}

.filter_section {
    position: relative;
}

.filter_search {
    position: absolute;
    right: 15rem;
    top: 1.5rem;
}
.filter_description {
    display: flex;
}
.input_range{
    margin-left: 2.3rem;
}
.input_range p{
    font-size: 300;
    font-size: 2rem;
}
.filter_description i {
    font-size: 2.1rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border: 1px solid rgb(191, 186, 186);
}

.filter_description p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #8f8f8f;
}

.filter_description i:hover {
    color: #0989ff;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #0989ff;
}

.filter_search button {
    border: none;
    width: 18rem;
    height: 4rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 1rem;

}

.filter_search button:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
}

.product_status {
    display: block;
    margin-top: 2rem;
}

.product_status h3 {
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 2rem;
}

.input_all_checkbox {
    margin-top: 2rem;
}

.input_all_checkbox label {
    font-size: 1.5rem;
    font-weight: 500;
}

.categories {
    margin-top: 7rem;
}

.categories h3 {
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 2rem;
}

.input_all_categories {
    margin-top: 2rem;
    overflow-y: scroll;
    width: 20rem;
    height: 20rem;

}

.filter_color {
    margin-top: 8rem;
}

.filter_color h3 {
    border-bottom: 1px solid black;
    display: inline-block;
}

.input_all_filter_color {
    margin-top: 2rem;
    overflow-y: scroll;
    width: 20rem;
    height: 20rem;
}

.input_filter_color label {
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    line-height: 3;
    letter-spacing: 0.1rem;
    margin-left: 0.7rem;
}

.input_filter_color label:hover {
    color: #0989ff;
    transition: 0.5s;
}

.input_all_categories label {
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    line-height: 3;
    letter-spacing: 0.1rem;
    margin-left: 0.7rem;
}

.input_all_categories label:hover {
    color: #0989ff;
    transition: 0.5s;
}

.input_filter_color {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.color {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.discount_products_item_card {
    gap: 2rem;
}

.discount_products_item_card img {
    width: 8rem;
    height: 8rem;
}

.discount_products_item_card p:hover {
    color: #0989ff;
    transition: 0.5s;
    cursor: pointer;
}

.rated_products {
    margin-top: 8rem;
}
.rated_products h3{
    border-bottom: 1px solid black;
    display: inline-block;
}

.discount_products_item_card_description i {
    color: gold;
}

.discount_products_item_card h5 {
    cursor: pointer;
}

.discount_products_item_card h5:hover {
    color: #0989ff;
    transition: 0.5s;
}

.discount_products_item_card img {
    cursor: pointer;
}

.popular_brands {
    margin-top: 7rem;
}

.brand_logo {
    margin-top: 5rem;
}

.brand_logo2 {
    margin-top: 5rem;
}
footer .container{
    margin-top: 25rem;
}
.brand_logo3 {
    margin-top: 5rem;
}

.brand_logo img {
   
    padding: 1rem;
    cursor: pointer;
}

.brand_logo2 img {
   
    padding: 1rem;
    cursor: pointer;
}

.brand_logo3 img {
    
    padding: 1rem;
    cursor: pointer;
}

.popular_brands h3 {
    border-bottom: 1px solid black;
    display: inline-block;
}
.shop_item_card{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 5rem;
   margin-top: 8rem;
}
.all_shop_item{
    display: flex;
    
}
.reset_filter{
    margin-top: 7rem;
}
.reset_filter h3{
    display: inline-block;
    border-bottom: 1px solid black;
}
.reset_filter button{
    width: 14rem;
    height: 3.5rem;
    margin-top: 2rem;
    background-color: black;
    color: white;
    cursor: pointer;
}
.reset_filter button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.button_change_shop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  gap: 1.5rem;
}
.button_change_shop button{
    width: 6rem;
    height: 3.5rem;
    border: none;
    cursor: pointer;
    margin-top: 10rem;
}
.button_change_shop button:hover{
    background-color: #0989ff;
    color: white;
    transition: 0.5s;
}